<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Template</title>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- https://material.io/resources/icons/?style=baseline -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <!-- <span class="material-icons">
        api
      </span> -->
    <%=require('./header.html')%>
  </body>
</html>
